<html>
    <head>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/lib/fontawesome/web-fonts-with-css/css/fontawesome.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">

        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%=user.image%>
        <%=user.name%>
    </body>
</html>